{%extends 'base.html'%}
{%block content%}
{%load static%}
        <!-- End of header area -->

        <!--breadcumb area start -->
        <div class="breadcumb-area breadcumb-3 overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Shortcode</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Home</a></li>
                    <li class="active">Breadcrumb</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->

        <!--Total area start-->
        <div class="col-lg-12 text-center">
            <div class="heading-title heading-style pos-rltv mtb-50 text-center">
                <h5 class="uppercase">Breadcrumb Style-01</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--breadcumb area start -->
        <div class="breadcumb-area overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Cart Details</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Home</a></li>
                    <li class="active">Breadcrumb</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->

        <div class="col-lg-12 text-center">
            <div class="heading-title heading-style pos-rltv mtb-50 text-center">
                <h5 class="uppercase">Breadcrumb Style-02</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--breadcumb area start -->
        <div class="breadcumb-area breadcumb-2 overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Cart Details</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Home</a></li>
                    <li class="active">Breadcrumb</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->

        <div class="col-lg-12 text-center">
            <div class="heading-title heading-style pos-rltv mtb-50 text-center">
                <h5 class="uppercase">Breadcrumb Style-03</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--breadcumb area start -->
        <div class="breadcumb-area breadcumb-3 overlay pos-rltv mb-70">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Cart Details</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Home</a></li>
                    <li class="active">Breadcrumb</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->

        <!--Total area end-->

        {%endblock%}